# Python virtual environment
venv/
ENV/
env/

logs/

# Python bytecode
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*
.txt
*.log

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Logs
*.log

# Test coverage reports
htmlcov/
.coverage
.coverage.*

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/